# Aula 02- Resolução dos Exercícios

## Novas perguntas do CEO para vocês

1. Crie uma nova coluna chamada: “house_age”
    - Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
    - Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

2. Crie uma nova coluna chamada: “dormitory_type”
    - Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
    - Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
    - Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

3. Crie uma nova coluna chamada: “condition_type”
    - Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
    - Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
    - Se o valor da coluna “condition” for igual à 5 => ‘good’


4. Modifique o TIPO a Coluna “condition” para STRING


5. Delete as colunas: “sqft_living15” e “sqft_lot15”


6. Modifique o TIPO a Coluna “yr_build” para DATE


7. Modifique o TIPO a Coluna “yr_renovated” para DATE


8. Qual a data mais antiga de construção de um imóvel?


9. Qual a data mais antiga de renovação de um imóvel?


10. Quantos imóveis tem 2 andares?


11. Quantos imóveis estão com a condição igual a “regular” ?


12. Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?


13. Quantos imóveis estão com a condição igual a “good” e são “new_house”?


14. Qual o valor do imóvel mais caro do tipo “studio” ?


15. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?


16. Qual o maior número de quartos que um imóveis do tipo “house” possui ?


17. Quantos imóveis “new_house” foram reformados no ano de 2014?


18. Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
    - Direto pelo nome das colunas.
    - Pelos Índices.
    - Pelos Índices das linhas e o nome das colunas
    - Índices Booleanos		
    
    
19. Salve um arquivo .csv com somente as colunas do item 10 ao 17.


20. Modifique a cor dos pontos no mapa de “pink” para “verde-escuro”

# Resolução

## Import Libraries

In [2]:
import numpy  as np
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt
import plotly.express as px

In [3]:
# Supress Scientific Notation
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)
pd.set_option('display.max_columns', None)

## Loading Data

In [15]:
# loading data into memory
data = pd.read_csv( 'kc_house_data.csv' )

# Garantir que o formato date é um datetime 
data['date'] = pd.to_datetime( data['date'], format='%Y-%m-%d' )
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.00,3,1.00,1180,5650,1.00,0,0,3,7,1180,0,1955,0,98178,47.51,-122.26,1340,5650
1,6414100192,2014-12-09,538000.00,3,2.25,2570,7242,2.00,0,0,3,7,2170,400,1951,1991,98125,47.72,-122.32,1690,7639
2,5631500400,2015-02-25,180000.00,2,1.00,770,10000,1.00,0,0,3,6,770,0,1933,0,98028,47.74,-122.23,2720,8062
3,2487200875,2014-12-09,604000.00,4,3.00,1960,5000,1.00,0,0,5,7,1050,910,1965,0,98136,47.52,-122.39,1360,5000
4,1954400510,2015-02-18,510000.00,3,2.00,1680,8080,1.00,0,0,3,8,1680,0,1987,0,98074,47.62,-122.05,1800,7503

## 1. Crie uma nova coluna chamada: “house_age”
    - Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
    - Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house’

In [115]:
ordem_data = data.sort_values('date')
ordem_data.head(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
16768,5561000190,2014-05-02,437500.00,3,2.25,1970,35100,2.00,0,0,4,9,1970,0,1977,0,98027,47.46,-121.99,2340,35100

In [66]:
data['house_age'] = 'house'
data.loc[data['date']>='2014-01-01','house_age'] = 'new_house'
data.loc[data['date']<'2014-01-01','house_age'] = 'old_house'
contagem = data.loc[data['house_age']=='old_house', 'id'].count()
contagem

0

### Meigarom

In [5]:
# Estrategia
# 1. Criar uma coluna nova, preenchida com NA
# 2. Substituir o valor NA, conforma a condicional

data['house_age'] = 'NA'
data.loc[data['date'] > '2014-01-01', 'house_age'] = 'new_house'
data.loc[data['date'] < '2014-01-01', 'house_age'] = 'old_house'

## 2. Crie uma nova coluna chamada: “dormitory_type”
    - Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
    - Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
    - Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

In [70]:
'''data['dormitory_type'] = 'type'
data.loc[data['bedrooms'] == 1,'dormitory_type'] = 'studio'
data.loc[data['bedrooms'] == 2,'dormitory_type'] = 'apartment'
data.loc[data['bedrooms'] > 2,'dormitory_type'] = 'house'
data.head()''';
data['dormitory_type'] = data['bedrooms'].apply(lambda linha: 'studio' if linha == 1 else 'apartment' if linha == 2  else 'house' if linha > 2 else 'NA')
data['dormitory_type'].unique()

array(['house', 'apartment', 'studio', 'NA'], dtype=object)

### Meigarom

In [6]:
# Estrategia:
# 1. Criar uma coluna nova, preenchida com NA
# 2. Percorrer todas as linhas do conjunto de dados. Para cada linha, comparar a coluna "bedrooms"
# 3. De acordo com a comparação, substituir o NA pelo dado valor
#
data['dormitory_type'] = 'NA'
for i in range( len( data ) ):
    if data.loc[i, 'bedrooms'] == 1:
        data.loc[i, 'dormitory_type'] = 'studio'
        
    elif data.loc[i, 'bedrooms'] == 2:
        data.loc[i, 'dormitory_type'] = 'apartment'
        
    elif data.loc[i, 'bedrooms'] > 2:
        data.loc[i, 'dormitory_type'] = 'house'

## 3. Crie uma nova coluna chamada: “condition_type”
    - Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
    - Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
    - Se o valor da coluna “condition” for igual à 5 => ‘good’

In [72]:
data['condition_type'] = data['condition'].apply(lambda linha: 'bad' if linha <= 2 else ('regular' if linha < 5 else 'good' ))
data[['condition', 'condition_type']].sample(10)

       condition condition_type
21538          3        regular
4891           4        regular
110            3        regular
20426          3        regular
7642           3        regular
21347          3        regular
6787           3        regular
7699           5           good
21033          3        regular
2838           3        regular

### Meigarom

In [7]:
# Estrategia:
# 1. Usar a função apply junto com a lambda para ter acesso a cada linha.
# 2. Em cada linha, comparar a coluna "condition" com a condição dada.
# 3. Aplicar a condição
#
data['condition'] = data['condition'].astype( int )
data['conditional_type'] = data['condition'].apply( lambda x: 'bad' if x <= 2 else 'regular' if (x == 3) | (x == 4) else 'good' )

## 4. Modifique o TIPO a Coluna “condition” para STRING

In [8]:
data['condition'] = data['condition'].astype('str')
data.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                 object
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built                   int64
yr_renovated               int64
zipcode                    int64
lat                      float64
long                     float64
sqft_living15              int64
sqft_lot15                 int64
house_age                 object
dormitory_type            object
condition_type            object
dtype: object

### Meigarom

In [8]:
data[['id', 'condition']].dtypes

id           int64
condition    int64
dtype: object

In [9]:
data['condition'] = data['condition'].astype( str )

In [10]:
data[['id', 'condition']].dtypes

id            int64
condition    object
dtype: object

## 5. Delete as colunas: “sqft_living15” e “sqft_lot15”

In [36]:
data = data.drop(['sqft_living15','sqft_lot15'], axis=1)

In [37]:
data.head(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,condition_type
0,7129300520,2014-10-13,221900.00,3,1.00,1180,5650,1.00,0,0,3,7,1180,0,1955,0,98178,47.51,-122.26,regular

### Meigarom

In [11]:
# deletar as colunas
data = data.drop( ['sqft_living15', 'sqft_lot15'], axis=1 )

## 6. Modifique o TIPO a Coluna “yr_build” para DATE

In [74]:
data['yr_built'] = pd.to_datetime(data['yr_built'], format="%Y")
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,condition_type,house_age,dormitory_type
0,7129300520,2014-10-13,221900.00,3,1.00,1180,5650,1.00,0,0,3,7,1180,0,1955-01-01,0,98178,47.51,-122.26,regular,new_house,house
1,6414100192,2014-12-09,538000.00,3,2.25,2570,7242,2.00,0,0,3,7,2170,400,1951-01-01,1991,98125,47.72,-122.32,regular,new_house,house
2,5631500400,2015-02-25,180000.00,2,1.00,770,10000,1.00,0,0,3,6,770,0,1933-01-01,0,98028,47.74,-122.23,regular,new_house,apartment
3,2487200875,2014-12-09,604000.00,4,3.00,1960,5000,1.00,0,0,5,7,1050,910,1965-01-01,0,98136,47.52,-122.39,good,new_house,house
4,1954400510,2015-02-18,510000.00,3,2.00,1680,8080,1.00,0,0,3,8,1680,0,1987-01-01,0,98074,47.62,-122.05,regular,new_house,house

### Meigarom

In [107]:
data['yr_built'] = pd.to_datetime( data['yr_built']).dt.year

AttributeError: 'Series' object has no attribute 'year'

## 7. Modifique o TIPO a Coluna “yr_renovated” para DATE

In [81]:

data['yr_renovated'] = data['yr_renovated'].apply(lambda linha: pd.to_datetime('1900-01-01', format='%Y-%m-%d') if linha == 0 else pd.to_datetime(linha,format='%Y'))

In [82]:
data.dtypes

id                         int64
date              datetime64[ns]
price                    float64
bedrooms                   int64
bathrooms                float64
sqft_living                int64
sqft_lot                   int64
floors                   float64
waterfront                 int64
view                       int64
condition                  int64
grade                      int64
sqft_above                 int64
sqft_basement              int64
yr_built          datetime64[ns]
yr_renovated      datetime64[ns]
zipcode                    int64
lat                      float64
long                     float64
condition_type            object
house_age                 object
dormitory_type            object
dtype: object

### Meigarom

In [128]:
data['yr_renovated'] = data['yr_renovated'].apply( lambda x: pd.to_datetime( x, format='%Y') if x > 0 else x )

TypeError: '>' not supported between instances of 'Timestamp' and 'int'

## 8. Qual a data mais antiga de construção de um imóvel?

In [84]:
construcao_mais_antiga = data['yr_built'].min().year
construcao_mais_antiga

1900

### Meigarom

In [34]:
min_date = data['yr_built'].min().year
print( 'The oldest house is {} years old'.format( min_date ) )

The oldest house is 1900 years old

## 9. Qual a data mais antiga de renovação de um imóvel?

In [92]:
anos_renovacao = []
for ano in data['yr_renovated']:
    if ano != 0:
        anos_renovacao.append(ano)

anos_renovacao.sort()
renovacao_mais_antiga = anos_renovacao[0].year
renovacao_mais_antiga
#antiga = data['yr_built'].sort_values().reset_index(drop=True)[0]
#antiga

1934

### Meigarom

In [38]:
### Meigarom# Estrategia
# 1. Filtrar todas as linhas diferentes de ZERO ( imóveis que nao foram reformados )
# 2. Encontrar a data mínima
df = data[data['yr_renovated'] > 0]['yr_renovated']

print( 'The oldest renovated house is {} years old'.format( df.min() ) )

TypeError: '>' not supported between instances of 'Timestamp' and 'int'

## 10. Quantos imóveis tem 2 andares?

In [43]:
dois_andares = data.loc[data['floors']==2, 'id'].count()
dois_andares

8241

### Meigarom

In [15]:
### Meigarom# Estrategia:
# 1. Filtrar todoso os imóveis com 2 andares
# 2. Contar o número de linhas
#
houses = data[data['floors'] == 2].shape[0]

print( 'The number of houses with 2 floors is: {}'.format( houses ) )

The number of houses with 2 floors is: 8241

## 11. Quantos imóveis estão com a condição igual a “regular” ?

In [44]:
regular_qty = data.loc[data['condition_type']=='regular', 'id'].count()
regular_qty

19710

### Meigarom

In [16]:
### Meigarom# Estrategia
# 1. Filtrar todos os apartamentos com "condition_type" igual a "regular"
# 2. Contar o número de imóveis sob essa condição
#
houses = data[data['conditional_type'] == 'regular'].shape[0]

print( 'Number of Houses in "regular" condition is: {}'.format( houses ) )

Number of Houses in "regular" condition is: 19710

## 12. Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?

In [93]:
bad_and_vista = data.loc[((data['condition_type']=='bad') & (data['waterfront'] == 1)), 'id'].count()
bad_and_vista

2

### Meigarom

In [17]:
### Meigarom# Estrategia:
# 1. Filtrar as colunas "conditional_type" igual a "bad" e "waterfront" igual a 1
# 2. Contar o número de linhas
houses = data[(data['conditional_type'] == 'bad') & (data['waterfront'] == 1)].shape[0]
print( "Number of Houses with water view and bad condition: {}".format( houses ) )

Number of Houses with water view and bad condition: 2

## 13. Quantos imóveis estão com a condição igual a “good” e são “new_house”?

In [94]:
good_and_new = data.loc[((data['condition_type']=='good') & (data['house_age'] == 'new_house')), 'id'].count()
good_and_new

1701

### Meigarom

In [18]:
### Meigarom# Estrategia:
# 1. Filtrar as colunas "conditional_type" igual a "good" e "house_age" equals to "new_house"
# 2. Contar o número de linhas
houses = data[(data['conditional_type'] == 'good') & (data['house_age'] == "new_house")].shape[0]
print( "Number of new house with good conditional type is: {}".format( houses ) )

Number of new house with good conditional type is: 1701

## 14. Qual o valor do imóvel mais caro do tipo “studio” ?

In [95]:
studio_mais_caro = data.loc[data['dormitory_type'] == 'studio', 'price'].max()
studio_mais_caro

1247000.0

### Meigarom

In [19]:
### Meigarom# Estrategia:
# 1. Filtrar as colunas "dormitory_type" igual a "studio"
# 2. Encontrar o máximo valor da coluna "price"
max_studio_price = data[data['dormitory_type'] == 'studio']['price'].max()
print( "Most expensive studio house: ${}".format( max_studio_price ) )

Most expensive studio house: $1247000.0

## 15. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?

In [102]:
mask_type = data['dormitory_type'] == 'apartment' 
mask_yr_renovated = data['yr_renovated'] == pd.to_datetime('2015-01-01')
apartment_renovated = data.loc[mask_type & mask_yr_renovated, 'id'].count()
apartment_renovated

0

### Meigarom

In [39]:
### Meigarom# Estrategia:
# 1. Filtrar as colunas "dormitory_type" igual a "apartament" e "yr_renovated" equals to "2015-01-01"
# 2. Contar o número de linhas
houses = data[(data['dormitory_type'] == 'apartament') & 
              (data['yr_renovated'] == 2015 )].shape[0]

print( "Number of reformed house in 2015: {}".format( houses ) )

Number of reformed house in 2015: 0

## 16. Qual o maior número de quartos que um imóveis do tipo “house” possui ?

In [52]:
max_house_bedrooms = data.loc[data['dormitory_type']=='house', 'bedrooms'].max()
max_house_bedrooms

33

### Meigarom

In [31]:
### Meigarom# Estrategia:
# 1. Filtrar as colunas "dormitory type" igual a "house"
# 2. Encontrar o maior valor da coluna bedrooms
b = data[data['dormitory_type'] == 'house']['bedrooms'].max()

print( "Max number of bedrooms from a house: {}".format( b ) )

Max number of bedrooms from a house: 33

## 17. Quantos imóveis “new_house” foram reformados no ano de 2014?

In [105]:
new_house_renovated = data.loc[((data['house_age'] == 'new_house')& (data['yr_renovated'] == pd.to_datetime('2014-01-01'))), 'id'].count()
new_house_renovated

91

### Meigarom

In [54]:
### Meigarom# Estrategia:
# 1. Filtrar as colunas "dormitory_type" igual a "apartament" e "yr_renovated" equals to "2015-01-01"
# 2. Contar o número de linhas
houses = data[(data['house_age'] == 'new_house') & 
              (data['yr_renovated'] == 2014 )].shape[0]

print( "Number of reformed house in 2014: {}".format( houses ) )

Number of reformed house in 2014: 91

## 18. Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
    -- Direto pelo nome das colunas
    -- Pelos índices
    -- Pelos índices das linhas e o nome das colunas
    -- Índices Booleanos

In [62]:
selecionadas = data.loc[:,['id', 'date', 'price', 'floors', 'zipcode']]
selecionadas.head()

           id       date     price  floors  zipcode
0  7129300520 2014-10-13 221900.00    1.00    98178
1  6414100192 2014-12-09 538000.00    2.00    98125
2  5631500400 2015-02-25 180000.00    1.00    98028
3  2487200875 2014-12-09 604000.00    1.00    98136
4  1954400510 2015-02-18 510000.00    1.00    98074

### Meigarom

In [41]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'house_age', 'dormitory_type', 'conditional_type'],
      dtype='object')

In [45]:
### 1. Nome das colunas
df1 = data[['id', 'date', 'price', 'floors', 'zipcode']]

### 2. Índices
df2 = data.iloc[:, [0, 1, 2, 7, 16]]

### 3. Índices das linhas e nome das colunas
df3 = data.loc[:, ['id', 'date', 'price', 'floors', 'zipcode']]

## 19. Salve um arquivo .csv com somente as colunas do item 10 ao 17.

In [64]:
selecionadas_csv = data.loc[10:18,:]
selecionadas_csv

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,condition_type,house_age,dormitory_type
10,1736800520,2015-04-03,662500.00,3,2.50,3560,9796,1.00,0,0,3,8,1860,1700,1965,0,98007,47.60,-122.14,regular,new_house,house
11,9212900260,2014-05-27,468000.00,2,1.00,1160,6000,1.00,0,0,4,7,860,300,1942,0,98115,47.69,-122.29,regular,new_house,apartment
12,114101516,2014-05-28,310000.00,3,1.00,1430,19901,1.50,0,0,4,7,1430,0,1927,0,98028,47.76,-122.23,regular,new_house,house
13,6054650070,2014-10-07,400000.00,3,1.75,1370,9680,1.00,0,0,4,7,1370,0,1977,0,98074,47.61,-122.05,regular,new_house,house
14,1175000570,2015-03-12,530000.00,5,2.00,1810,4850,1.50,0,0,3,7,1810,0,1900,0,98107,47.67,-122.39,regular,new_house,house
15,9297300055,2015-01-24,650000.00,4,3.00,2950,5000,2.00,0,3,3,9,1980,970,1979,0,98126,47.57,-122.38,regular,new_house,house
16,1875500060,2014-07-31,395000.00,3,2.00,1890,14040,2.00,0,0,3,7,1890,0,1994,0,98019,47.73,-121.96,regular,new_house,house
17,6865200140,2014-05-29,485000.00,4,1.00,1600,4300,1.50,0,0,4,7,1600,0,1916,0,98103,47.66,-122.34,regular,new_house,house
18,16000397,2014-12-05,189000.00,2,1.00,1200,9850,1.00,0,0,4,7,1200,0,1921,0,98002,47.31,-122.21,regular,new_house,apartment

In [65]:
selecionadas_csv.to_csv('relatorio2.csv', index=False)

### Meigarom

In [47]:
#data[['house_age', 'dormitory_type', 'conditional_type']].to_csv( 'exercicio18.csv' )