## Imports

In [45]:
import pandas as pd
import plotly.express as px

# Perguntas de negócio

1.	Qual a data do imóvel mais antigo no portfólio?
2.	Quantos imóveis
possuem o número máximo de andares?
3.	Criar uma
classificação para o imóveis, separando-os em baixo e alto padrão,
de acordo com preço.

    Acima de R$ 540.000 -> alto padrão
    
    Abaixo de R$ 540.000 -> baixo padrão

4.	Gostaria de um relatório ordenado pelo preço e contento as seguintes informações: ( id do imóvel,
data que o imóvel ficou
disponível para compra, o número de quartos,
o tamanho total to terreno,
o preço,
a classificação do imóvel ( alto e baixo padrão )
5.	Gostaria de um Mapa
indicando onde as casas estão localizadas
geograficamento.

# Planejamento

## Produto Final

Email (Texto respondendo as 2 primeiras questões, arquivo.csv respondendo a 4 e uma imagem para a 5)

## Ferramentas

Python (Pandas e alguma biblioteca para criação de mapas)

## Processo (Como fazer)

1.	Qual a data do imóvel mais antigo no portfólio?
    Ordenar com a data na crescente.
2.	Quantos imóveis possuem o número máximo de andares?
    Selecionar id e andar, agrupando por andar na decrescente.
3.	Criar uma classificação para o imóveis, separando-os em baixo e alto padrão, de acordo com preço.\
    3.1.Acima de R$ 540.000 -> alto padrão
    
    3.2.Abaixo de R$ 540.000 -> baixo padrão
    
    Criar coluna standard separando entre high_standard ou low_standard
4.	Gostaria de um relatório ordenado pelo preço e contento as seguintes informações: ( id do imóvel, data que o imóvel ficou disponível para compra, o número de quartos, o tamanho total to terreno, o preço, a classificação do imóvel ( alto e baixo padrão )\
    Relatório em csv.
5.	Gostaria de um Mapa indicando onde as casas estão localizadas geograficamento.\
    Pesquisar biblioteca de mapas.

In [53]:
df = pd.read_csv('kc_house_data.csv')
pd.set_option('display.max_columns', None)

In [54]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [55]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [56]:
df['date'] = pd.to_datetime(df['date'])

# Qual a data do imóvel mais antigo no portfólio?

In [57]:
df_sorted = df.loc[:,['id', 'date']].sort_values('date').reset_index().loc[0,:]
df_sorted

index                  16768
id                5561000190
date     2014-05-02 00:00:00
Name: 0, dtype: object

# Quantos imóveis possuem o número máximo de andares?

In [58]:
df_grouped = df.loc[:,['id', 'floors']].groupby('floors').count().sort_values('floors', ascending=False).reset_index().loc[0,:]
df_grouped

floors    3.5
id        8.0
Name: 0, dtype: float64

# Criar uma classificação para o imóveis, separando-os em baixo e alto padrão, de acordo com preço.

In [59]:
df['standard'] = df['price'].apply(lambda preco: 'high_standard' if preco > 540000 else 'low_standard')
df[['price', 'standard']].head()

      price       standard
0  221900.0   low_standard
1  538000.0   low_standard
2  180000.0   low_standard
3  604000.0  high_standard
4  510000.0   low_standard

# Gostaria de um relatório ordenado pelo preço e contento as seguintes informações: ( id do imóvel, data que o imóvel ficou disponível para compra, o número de quartos, o tamanho total to terreno, o preço e a classificação do imóvel

In [64]:
df_entrega = df[['id', 'date', 'bedrooms', 'sqft_lot', 'price', 'standard']].sort_values('price')
df_entrega.to_csv('relatorio_imoveis.csv', index=False)

# Gostaria de um Mapa indicando onde as casas estão localizadas geograficamento

In [ ]:
df_map = df[['id', 'lat', 'long', 'price']]
mapa = px.scatter_mapbox(df_map, lat = 'lat', lon = 'long', hover_name='id', hover_data=['price'], color_discrete_sequence = ['fuchsia'], zoom=3, height=300)
mapa.update_layout(mapbox_style='open-street-map')
mapa.update_layout(height=600, margin={'r':0, 't':0,'l':0, 'b':0})
mapa.show()

In [65]:
mapa.write_html('mapa_house_rocket.html')