# Aula 04 - Resolução dos Exercícios

## Novas perguntas do CEO para vocês

1. Qual a média do preço de compra dos imóveis por “Nível”? 
        - Nível 0 -> Preço entre R$ 0 e R$ 321.950
        - Nível 1 -> Preço entre R$ 321.950 e R$ 450.000
        - Nível 2 -> Preço entre R$ 450.000 e R$ 645.000
        - Nível 3 -> Acima de R$ 645.000

2. Qual a média do tamanho da sala de estar dos imóveis por “Size” ?
        - Size 0 -> Tamanho entre 0 e 1427 sqft
        - Size 1 -> Tamanho entre 1427 e 1910 sqft
        - Size 2 -> Tamanho entre 1910 e 2550 sqft
        - Size 3 -> Tamanho acima de 2550 sqft

3. Adicione as seguinte informações ao conjunto de dados original:
        - Place ID: Identificação da localização
        - OSM Type: Open Street Map type
        - Country: Nome do País
        - Country Code: Código do País

4. Adicione os seguinte filtros no Mapa:
        - Tamanho mínimo da área da sala de estar.
        - Número mínimo de banheiros.
        - Valor Máximo do Preço.
        - Tamanho máximo da área do porão.
        - Filtro das Condições do Imóvel.
        - Filtro por Ano de Construção.

5. Adicione os seguinte filtros no Dashboard:
        - Filtro por data disponível para compra.
        - Filtro por ano de renovação.
        - Filtro se possui vista para a água ou não.

# Resolução

## Import Libraries

In [2]:
import numpy  as np
import pandas as pd
import seaborn as sns


from matplotlib import gridspec
from matplotlib import pyplot     as plt
import ipywidgets     as widgets
import plotly.express as px
from ipywidgets import interact, interactive, fixed, interact_manual
from geopy.geocoders import Nominatim

In [2]:
# Supress Scientific Notation
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)

## Loading Data

In [3]:
# loading data into memory
df = pd.read_csv( 'csv/kc_house_data.csv' )

# Garantir que o formato date é um datetime 
df['date'] = pd.to_datetime( df['date'], format='%Y-%m-%d' )

## 1. Qual a média do preço de compra dos imóveis por “Nível”? 
        - Nível 0 -> Preço entre R$ 0 e R$ 321.950
        - Nível 1 -> Preço entre R$ 321.950 e R$ 450.000
        - Nível 2 -> Preço entre R$ 450.000 e R$ 645.000
        - Nível 3 -> Acima de R$ 645.000

In [4]:
df['nível'] = df['price'].apply(lambda x: 0 if 0<x<321950 else 1 if 321950<x<450000 else 2 if 450000<x<645000 else 3)

### Meigarom

In [5]:
data['level'] = data['price'].apply( lambda x: 'lv0' if x <= 321950 else 
                                               'lv1' if ( x > 321950 ) & ( x <= 450000 ) else
                                               'lv2' if ( x > 450000 ) & ( x <= 645000 ) else 'lv3' )

# final dataset
df = data[['level', 'price']].groupby( 'level' ).mean().reset_index()
df

NameError: name 'data' is not defined

## 2. Qual a média do tamanho da sala de estar dos imóveis por “Size” ?
        - Size 0 -> Tamanho entre 0 e 1427 sqft
        - Size 1 -> Tamanho entre 1427 e 1910 sqft
        - Size 2 -> Tamanho entre 1910 e 2550 sqft
        - Size 3 -> Tamanho acima de 2550 sqft

In [58]:
df['size'] = df['sqft_living'].apply(lambda x: 0 if 0<x<1427 else 1 if 1427<x<1910 else 2 if 1910<x<2550 else 3)

### Meigarom

In [7]:
data['size'] = data['sqft_living'].apply( lambda x: 'size0' if x <= 1427 else 
                                                    'size1' if ( x > 1427 ) & ( x <= 1910 ) else
                                                    'size2' if ( x > 1910 ) & ( x <= 2550 ) else 'size3' )
# final dataset
df = data[['size', 'sqft_living']].groupby( 'size' ).mean().reset_index()
df

    size  sqft_living
0  size0      1123.83
1  size1      1664.96
2  size2      2211.79
3  size3      3329.61

## 3. Adicione as seguinte informações ao conjunto de dados original:
        - Place ID: Identificação da localização
        - OSM Type: Open Street Map type
        - Country: Nome do País
        - Country Code: Código do País

In [61]:
geolocator = Nominatim(user_agent='geoapiExercises')
response = geolocator.reverse('47.511, -122.257')
ax = response.raw
ax

{'place_id': 163387148,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 236673622,
 'lat': '47.51098745',
 'lon': '-122.25680736110141',
 'display_name': '10022, 61st Avenue South, Rainier Beach, Seattle, King County, Washington, 98178, United States',
 'address': {'house_number': '10022',
  'road': '61st Avenue South',
  'neighbourhood': 'Rainier Beach',
  'city': 'Seattle',
  'county': 'King County',
  'state': 'Washington',
  'ISO3166-2-lvl4': 'US-WA',
  'postcode': '98178',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['47.5109076', '47.5110247', '-122.2568725', '-122.2566819']}

In [62]:
len(df.head())

5

In [63]:
geolocator = Nominatim(user_agent='geoapiExercises', timeout = None)

df['Place ID'] = 'NA'
df['OSM Type'] = 'NA'
df['Country'] = 'NA'
df['Country Code'] = 'NA'

for i in range (len(df.head())):
    query = str(df.loc[i,'lat']) +','+ str(df.loc[i,'long'])
    response = geolocator.reverse(query)
    
    if 'place_id' in response.raw:
        df.loc[i, 'Place ID'] = response.raw['place_id']
    if 'osm_type' in response.raw:
        df.loc[i, 'OSM Type'] = response.raw['osm_type']
    if 'country' in response.raw['address']:
        df.loc[i, 'Country'] = response.raw['address']['country']
    if 'country_code' in response.raw['address']:
        df.loc[i, 'Country Code'] = response.raw['address']['country_code']

In [64]:
pd.set_option('display.max_columns', None)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,nível,size,Place ID,OSM Type,Country,Country Code
0,7129300520,2014-10-13,221900.00,3,1.00,1180,5650,1.00,0,0,3,7,1180,0,1955,0,98178,47.51,-122.26,1340,5650,0,0,164281254,way,United States,us
1,6414100192,2014-12-09,538000.00,3,2.25,2570,7242,2.00,0,0,3,7,2170,400,1951,1991,98125,47.72,-122.32,1690,7639,2,3,162919585,way,United States,us
2,5631500400,2015-02-25,180000.00,2,1.00,770,10000,1.00,0,0,3,6,770,0,1933,0,98028,47.74,-122.23,2720,8062,0,0,74350607,node,United States,us
3,2487200875,2014-12-09,604000.00,4,3.00,1960,5000,1.00,0,0,5,7,1050,910,1965,0,98136,47.52,-122.39,1360,5000,2,2,160391552,way,United States,us
4,1954400510,2015-02-18,510000.00,3,2.00,1680,8080,1.00,0,0,3,8,1680,0,1987,0,98074,47.62,-122.05,1800,7503,2,1,309183460,way,United States,us

In [65]:
df['condition'].unique()

array([3, 5, 4, 1, 2], dtype=int64)

### Meigarom

In [8]:
# ------------------------------
# Arquivo defs.py
# ------------------------------
#
#import time
#from geopy.geocoders import Nominatim
#
#geolocator = Nominatim( user_agent='geopiExercises' )
#
#def get_longlat( x ):
#    index, row = x
#    time.sleep(1)
#    response = geolocator.reverse( row['query'] )
#    address = response.raw['address']
#
#    try:
#        place_id = response.raw['place_id'] if 'place_id' in response.raw else 'NA'
#        osm_type = response.raw['osm_type'] if 'osm_type' in response.raw else 'NA'
#
#        country = address['country'] if 'country' in address else 'NA'
#        country_code = address['country_code'] if 'country_code' in address else 'NA'
#
#        return place_id, osm_type, country, country_code
#
#    except:
#        return None, None, None, None

In [3]:
import time
import defs
from multiprocessing import Pool
data = pd.read_csv( 'csv/kc_house_data.csv' )
data['query'] = data[['lat', 'long']].apply( lambda x: str( x['lat'] ) + ',' + str( x['long'] ), axis=1 )
df1 = data[['id', 'query']].head()

p = Pool(2)
start = time.process_time()
df1[['place_id', 'osm_type', 'country', 'country_code']] = p.map( defs.get_longlat, df1.iterrows() )
print(time.process_time() - start)

0.0

In [4]:
df1.head()

,id,query,place_id,osm_type,country,country_code
0,7129300520,"47.5112,-122.257",164281254,way,United States,us
1,6414100192,"47.721,-122.319",162919585,way,United States,us
2,5631500400,"47.7379,-122.233",74350607,node,United States,us
3,2487200875,"47.5208,-122.393",160391552,way,United States,us
4,1954400510,"47.6168,-122.045",309183460,way,United States,us

## 4. Adicione os seguinte filtros no Mapa:
        - Tamanho mínimo da área da sala de estar.
        - Número mínimo de banheiros.
        - Valor Máximo do Preço.
        - Tamanho máximo da área do porão.
        - Filtro das Condições do Imóvel.
        - Filtro por Ano de Construção.

In [67]:
df['condition'].unique()

array([3, 5, 4, 1, 2], dtype=int64)

In [68]:
df['yr_built'].sort_values().unique()

array([1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910,
       1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921,
       1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932,
       1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943,
       1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954,
       1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965,
       1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976,
       1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015], dtype=int64)

In [70]:
df.head()
df['condition'].sort_values().unique().tolist()

[1, 2, 3, 4, 5]

In [79]:
style = {'description_width': 'initial'}

living_room_bar = widgets.IntSlider(
    value=1910,
    min=290,
    max=13540,
    step=1,
    description='Sqft living room:',
    disabled=False,
    style = style)

bathrooms_bar = widgets.FloatSlider(
    value=2.25,
    min=0,
    max=8,
    step=0.25,
    description='Bathrooms number:',
    disabled=False,
    style = style)


price_bar = widgets.IntSlider(
    value=450000.0,
    min=75000.0,
    max=7700000.0,
    step=1,
    description='Price:',
    disabled=False,
    style = style)

basement_bar = widgets.IntSlider(
    value=2410,
    min=0,
    max=4820,
    step=1,
    description='Sqft basement bar:',
    disabled=False,
    style = style)

condition_buttom = widgets.Dropdown(
    options=df['condition'].sort_values().unique().tolist(),
    value=1,
    description='Condition:',
    disabled=False)

year_insert = widgets.BoundedIntText(
    value=2002,
    min=1900,
    max=2015,
    step=1,
    description='Ano:',
    disabled=False)

def update_map( df, living, bathrooms, price, basement, condition, year):
    mask_1 = (df['sqft_living'] >= living)
    mask_2 = (df['bathrooms'] >= bathrooms)
    mask_3 = (df['price'] <= price)
    mask_4 = (df['sqft_basement'] <= basement)
    mask_5 = (df['condition'] == condition)
    mask_6 = (df['yr_built'] == year)
    
    houses = df[mask_1 & mask_2 & mask_3 & mask_4 & mask_5 & mask_6][['id', 'lat', 'long', 'price', 'nível']]
    print(houses.head())
    fig = px.scatter_mapbox( houses, 
                             lat='lat', 
                             lon='long',
                             color='nível', 
                             size='price', 
                             color_continuous_scale=px.colors.cyclical.IceFire,
                             size_max=15,
                             zoom=10 ) 

    fig.update_layout( mapbox_style='open-street-map' )
    #fig.update_layout( mapbox_style='carto-positron' )
    fig.update_layout( height=600, margin={'r':0, 't':0, 'l':0, 'b':0} )
    fig.show()

In [80]:
widgets.interactive( update_map, df=fixed( df ), living = living_room_bar, bathrooms = bathrooms_bar, price = price_bar, basement = basement_bar, condition = condition_buttom, year = year_insert)

interactive(children=(IntSlider(value=1910, description='Sqft living room:', max=13540, min=290, style=SliderS…

### Meigarom

In [126]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'level', 'size', 'query',
       'year', 'year_week', 'is_waterfront'],
      dtype='object')

In [11]:
# Prepare Data
data = pd.read_csv( 'csv/kc_house_data.csv' )
data['is_waterfront'] = data['waterfront'].apply( lambda x: 'yes' if x == 1 else 'no' )

# define level of prices
data['level'] = data['price'].apply( lambda x: 0 if x <= 321950 else 
                                           1 if ( x > 321950 ) & ( x <= 450000) else 
                                           2 if ( x > 450000 ) & ( x <= 645000 ) else 3 )
data['level'] = data['level'].astype( int )

# Iteractive buttons
price_limit = widgets.IntSlider(
    value = 540000,
    min = 75000,
    max = 7700000,
    step = 1,
    description='Maximun Price',
    disable=False,
    style={'description_width': 'initial'}
)

waterfront_bar = widgets.Dropdown(
    options = data['is_waterfront'].unique().tolist(),
    value = 'yes',
    description = 'Water View',
    disable=False
)

livingroom_limit = widgets.IntSlider(
    value = int( data['sqft_living'].mean() ), 
    min = data['sqft_living'].min(),
    max = data['sqft_living'].max(),
    step = 1,
    description='Minimum Living Room Size',
    disable=False,
    style={'description_width': 'initial'}
)

bathroom_limit = widgets.IntSlider(
    value = int( data['bathrooms'].mean() ), 
    min = data['bathrooms'].min(),
    max = data['bathrooms'].max(),
    step = 1,
    description='Minimum Bathroom Number',
    disable=False,
    style={'description_width': 'initial'}
)

basement_limit = widgets.IntSlider(
    value = int( data['sqft_basement'].mean() ), 
    min = data['sqft_basement'].min(),
    max = data['sqft_basement'].max(),
    step = 1,
    description='Minimum Basement Size',
    disable=False,
    style={'description_width': 'initial'}
)

condition_limit = widgets.IntSlider(
    value = int( data['condition'].mean() ), 
    min = data['condition'].min(),
    max = data['condition'].max(),
    step = 1,
    description='Minimum condition',
    disable=False,
    style={'description_width': 'initial'}
)

year_limit = widgets.IntSlider(
    value = int( data['yr_built'].mean() ), 
    min = data['yr_built'].min(),
    max = data['yr_built'].max(),
    step = 1,
    description='Year Built',
    disable=False,
    style={'description_width': 'initial'}
)


def update_map( df, waterfront, limit, livingroom, bathroom, basement, condition, year):
    houses = df[(df['price'] <= limit) & 
                (df['is_waterfront'] == waterfront) &
                (df['sqft_living'] >= livingroom) &
                (df['bathrooms'] >= bathroom) &
                (df['sqft_basement'] >= basement) &
                (df['condition'] >= condition) &
                (df['yr_built'] >= year)][['id', 'lat', 'long', 'price', 'level']]
    
    fig = px.scatter_mapbox( houses, 
                             lat="lat", 
                             lon="long", 
                             size="price",
                             color="level",
                             color_continuous_scale=px.colors.cyclical.IceFire, 
                             size_max=15, 
                             zoom=10)

    fig.update_layout(mapbox_style="open-street-map")
    fig.update_layout(height=600, margin={"r":0,"t":0,"l":0,"b":0})
    fig.show()

In [12]:
widgets.interactive( update_map, 
                     df=fixed( data ), 
                     waterfront=waterfront_bar, 
                     limit=price_limit, 
                     livingroom=livingroom_limit,
                     bathroom=bathroom_limit,
                     basement=basement_limit,
                     condition=condition_limit,
                     year=year_limit
                    )

interactive(children=(Dropdown(description='Water View', index=1, options=('no', 'yes'), value='yes'), IntSlid…

## 5. Adicione os seguinte filtros no Dashboard:
        - Filtro por data disponível para compra.
        - Filtro por ano de renovação.
        - Filtro se possui vista para a água ou não.

### Meigarom

In [94]:
# Change data format
data['year'] = pd.to_datetime( data['date'] ).dt.strftime( '%Y' )
data['date'] = pd.to_datetime( data['date'] ).dt.strftime( '%Y-%m-%d' )
data['year_week'] = pd.to_datetime( data['date'] ).dt.strftime( '%Y-%U' )

# ----------------------------
# Filtering
# ----------------------------
# Widget to control data
date_limit = widgets.SelectionSlider( 
    options = data['date'].sort_values().unique().tolist(),
    value='2014-12-01',
    description='Max Available Date',
    disable=False,
    continuous_update=False,
    orientation='horizontal',
    style={'description_width': 'initial'},
    readout=True
)

# Max Year Renovated
year_limit = widgets.SelectionSlider( 
    options = data['yr_renovated'].sort_values().unique().tolist(),
    value=2000,
    description='Max Year',
    disable=False,
    continuous_update=False,
    orientation='horizontal',
    style={'description_width': 'initial'},
    readout=True
)

# Waterfront
waterfront_limit = widgets.Checkbox(
    value=False,
    description='Waterfront?',
    disabled=False,
    indent=False
)

def update_map( data, date_limit, year_limit, waterfront_limit ):
    
    # Filter data
    df = data[(data['date'] <= date_limit) & 
              (data['yr_renovated'] >= year_limit) &
              (data['waterfront'] == waterfront_limit)].copy()

    fig = plt.figure( figsize=(24, 12) )
    specs = gridspec.GridSpec( ncols=2, nrows=2, figure=fig )

    ax1 = fig.add_subplot( specs[0, :] ) # First Row
    ax2 = fig.add_subplot( specs[1, 0] ) # First Row First Column
    ax3 = fig.add_subplot( specs[1, 1] ) # Second Row First Column

    by_year = df[['id', 'year']].groupby( 'year' ).sum().reset_index()
    ax1.bar( by_year['year'], by_year['id'] )

    # Frist Graph
    by_day = df[['id', 'date']].groupby( 'date' ).mean().reset_index()
    ax2.plot( by_day['date'], by_day['id'] )
    ax2.set_title( "Title: Avg Price by Day" )
    
    df['year_week'] = pd.to_datetime( df['date'] ).dt.strftime( '%Y-%U' )
    by_week_of_year = df[['id', 'year_week']].groupby( 'year_week' ).mean().reset_index()
    ax3.bar( by_week_of_year['year_week'], by_week_of_year['id'] )
    ax3.set_title( "Title: Avg Price by Week of Year" )
    plt.xticks( rotation=60);

In [95]:
widgets.interactive( update_map, 
                     data = fixed( data ), 
                     date_limit=date_limit,
                     year_limit=year_limit,
                     waterfront_limit=waterfront_limit )

interactive(children=(SelectionSlider(continuous_update=False, description='Max Available Date', index=212, op…